// 1 REM
.padding-one-top {
    padding-top: 1rem;
}
.padding-one-bottom {
    padding-bottom: 1rem;
}
.padding-one-lr {
    padding-left: 1rem;
    padding-right: 1rem;
}
.padding-one-left {
    padding-left: 1rem;
}
.padding-one-right {
    padding-right: 1rem;
}

// 0.5 REM
.padding-half-top {
    padding-top: 0.5rem;
}
.padding-half-bottom {
    padding-bottom: 0.5rem;
}
.padding-half-lr {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.padding-half-left {
    padding-left: 0.5rem;
}
.padding-half-right {
    padding-right: 0.5rem;
}

// 0.75 REM
.padding-three-quarter-top {
    padding-top: 0.75rem;
}
.padding-three-quarter-bottom {
    padding-bottom: 0.75rem;
}
.padding-three-quarter-lr {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.padding-three-quarter-left {
    padding-left: 0.75rem;
}
.padding-three-quarter-right {
    padding-right: 0.75rem;
}

// 0.25 REM
.padding-one-quarter {
    padding: 0.25rem;
}
.padding-half {
    padding: 0.5rem;
}
.padding-one-quarter-top {
    padding-top: 0.25rem;
}
.padding-one-quarter-bottom {
    padding-bottom: 0.25rem;
}
.padding-one-quarter-lr {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.padding-one-quarter-left {
    padding-left: 0.25rem;
}
.padding-one-quarter-right {
    padding-right: 0.25rem;
}