.margin-none-top {
    margin-top: 0;
}

// 1 REM
.margin-one-top {
    margin-top: 1rem;
}
.margin-one-bottom {
    margin-bottom: 1rem;
}
.margin-one-lr {
    margin-left: 1rem;
    margin-right: 1rem;
}
.margin-one-left {
    margin-left: 1rem;
}
.margin-one-right {
    margin-right: 1rem;
}

// 0.5 REM
.margin-half-top {
    margin-top: 0.5rem;
}
.margin-half-bottom {
    margin-bottom: 0.5rem;
}
.margin-half-lr {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.margin-half-left {
    margin-left: 0.5rem;
}
.margin-half-right {
    margin-right: 0.5rem;
}

// 0.75 REM
.margin-three-quarter-top {
    margin-top: 0.75rem;
}
.margin-three-quarter-bottom {
    margin-bottom: 0.75rem;
}
.margin-three-quarter-lr {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.margin-three-quarter-left {
    margin-left: 0.75rem;
}
.margin-three-quarter-right {
    margin-right: 0.75rem;
}

// 0.25 REM
.margin-one-quarter-top {
    margin-top: 0.25rem;
}
.margin-one-quarter-bottom {
    margin-bottom: 0.25rem;
}
.margin-one-quarter-lr {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.margin-one-quarter-left {
    margin-left: 0.25rem;
}
.margin-one-quarter-right {
    margin-right: 0.25rem;
}