.invite-container {

	&.no-b-margin {
		margin-bottom: 0;
	}

	.invite-info {
		padding: 0.5rem 0.75rem 0.625rem;
	}

	.invite-email-field {
		padding: 5px;
		height: 46px;
		position: relative;
		background-color: #EFEFEF;
	}

	.invite-add {
		font-size: 1.1rem;
		width: 40px;
		position: absolute;
		top: 7px;
		right: 7px;
		height: 31px;
		background-color: $yunite-lightblue-alt;
		color: #FFF;
		text-align: center;
		cursor: pointer;

		.fa {
			margin-top: 8px;
		}

		&:focus, &:hover {
			background-color: $yunite-green;
		}
	}

	.invite-email-list {
		&.via-email {
			margin-top: 0.5rem;
		}
	}


	.invite-email-list-item {
		background: #F5F5F5;
		border: 1px solid #E2E2E2;
		color: $yunite-lightblue-hover;
		padding: 0.375rem 0.5rem;
		height: 32px;
		max-height: 34px;
		@include border-radius(3px);

		.invite-email {
			font-size: 0.95rem;
		}
	}

	// Manage
	.invite-none {
		background-color: #E6E6E6;
		border-radius: 4px;
		color: #777;
		margin-top: 15px;
		padding: 10px;
	}
}

