.group-home {
    .data-card .project-name {
        font-size: 0.85rem;
        margin-bottom: 0.675rem;
        padding: 0.2rem 0.675rem 0.25rem;
    }

    .group-links {
        text-align: left;
    }
}